## D Tale

In [2]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
import dtale
dtale.show(df)

/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/requests/__init__.py:109: RequestsDependencyWarning: urllib3 (1.26.5) or chardet (5.0.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn(
/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/dtale/views.py:755: FutureWarning:

['embarked', 'class', 'deck', 'embark_town'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.

Executing shutdown due to inactivity...

2023-02-18 21:35:42,742 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2023-02-18 21:35:42,950 - INFO     - Executing shutdown...

Exception on /shutdown [GET]
Traceback (most recent call last):
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/flask/app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/flask/app.py", line 1519, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/flask/app.py", line 1517, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/flask/app.py", line 1503, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/dtale/app.py", line 435, in shutdown
    shutdown_server()
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/dtale/app.py", line 421, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server

2023-02-18 21:35:42,951 - ERROR    - Exception on /shutdown [GET]
Traceback (most recent call last):
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/flask/app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/flask/app.py", line 1519, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/flask/app.py", line 1517, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/flask/app.py", line 1503, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/dtale/app.py", line 435, in shutdown
    shutdown_server()
  File "/Users/abhisheksingh/miniforge3/envs/vicas/lib/python3.9/site-packages/dtale/app.py", line 421, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server