In [3]:
import pandas as pd
import numpy as np
import datetime

In [16]:
df_base = datetime.datetime.today()
df_date_list = [df_base-datetime.timedelta(days=x) for x in range(0,20)]
df = pd.DataFrame(df_date_list,columns=['date'])

In [17]:
df.head()

                        date
0 2023-02-23 18:03:09.608190
1 2023-02-22 18:03:09.608190
2 2023-02-21 18:03:09.608190
3 2023-02-20 18:03:09.608190
4 2023-02-19 18:03:09.608190

In [22]:
df['week_days_name'] = df['date'].dt.strftime('%A')

In [25]:
df['week_days_name'].unique()

array(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday', 'Saturday',
       'Friday'], dtype=object)

In [30]:
week_days_map = {
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':1

}

In [31]:
df['day_ordinal_map'] = df['week_days_name'].map(week_days_map)

In [33]:
df.head(20)

                         date week_days_name  day_ordinal_map
0  2023-02-23 18:03:09.608190       Thursday                4
1  2023-02-22 18:03:09.608190      Wednesday                3
2  2023-02-21 18:03:09.608190        Tuesday                2
3  2023-02-20 18:03:09.608190         Monday                1
4  2023-02-19 18:03:09.608190         Sunday                1
5  2023-02-18 18:03:09.608190       Saturday                6
6  2023-02-17 18:03:09.608190         Friday                5
7  2023-02-16 18:03:09.608190       Thursday                4
8  2023-02-15 18:03:09.608190      Wednesday                3
9  2023-02-14 18:03:09.608190        Tuesday                2
10 2023-02-13 18:03:09.608190         Monday                1
11 2023-02-12 18:03:09.608190         Sunday                1
12 2023-02-11 18:03:09.608190       Saturday                6
13 2023-02-10 18:03:09.608190         Friday                5
14 2023-02-09 18:03:09.608190       Thursday                4
15 2023-02-08 18:03:09.608190      Wednesday                3
16 2023-02-07 18:03:09.608190        Tuesday                2
17 2023-02-06 18:03:09.608190         Monday                1
18 2023-02-05 18:03:09.608190         Sunday                1
19 2023-02-04 18:03:09.608190       Saturday                6